<html>

<head th:replace="fragments/base.html :: headerfiles(title='Home | Catering')">
	<title>Admin Home | Catering </title>
</head>
<body>
	<div id="content">
		<header th:replace="fragments/base.html :: navbar"></header>
		<!--- MAIN -->
		<div
			th:replace="fragments/base.html :: page-title-section(image='/images/catering.webp',type='has-text-white',title='Benvenuto Admin '+ ${loggedUser.nome.toUpperCase()} +'👋' ,subtitle='Gestisci subito i tuoi catering')">
		</div>
		
		<div class="ct-flex-container">
			<div class="section p-3">
				<p class="title is-5">Gestisci</p>
				<p class="subtitle is-6">Aggiungi, rimuovi o modifica in base alle tue esigenze</p>
			</div>
		
		<div class="ct-flex-item">
				<a th:href="@{/admin/allChef}" class="media p-5">
					<div class="media-left">
						<p class="title is-3">👨🏻‍🍳 </p>
					</div>
					<div class="media-content">
						<p class="title is-5">Scopri tutti gli Chef</p>
					</div>
					<div class="media-left"><i class="fa-solid fa-chevron-right"></i></div>
				</a>
			</div>
					
		<div class="ct-flex-item">
				<a th:href="@{/admin/allBuffet}" class="media p-5">
					<div class="media-left">
						<p class="title is-3">🍴 </p>
					</div>
					<div class="media-content">
						<p class="title is-5">Scopri tutti i Buffet</p>
					</div>
					<div class="media-left">
						<i class="fa-solid fa-chevron-right"></i>
					</div>
				</a>
			</div>
			
			
		<div class="ct-flex-item">
				<a th:href="@{/admin/allUsers}" class="media p-5">
					<div class="media-left">
						<p class="title is-3">🍴 </p>
					</div>
					<div class="media-content">
						<p class="title is-5">Scopri tutti gli Utenti registrati al tuo Catering</p>
					</div>
					<div class="media-left">
						<i class="fa-solid fa-chevron-right"></i>
					</div>
				</a>
			</div>		
			
		<div class="ct-flex-item">
				<a th:href="@{/user/me}" class="media p-5">
					<div class="media-left">
						<p class="title is-3">👨 </p>
					</div>
					<div class="media-content">
						<p class="title is-5">Il mio Profilo</p>
					</div>
					<div class="media-left">
						<i class="fa-solid fa-chevron-right"></i>
					</div>
				</a>	
	</div>
	<footer th:replace="fragments/base.html :: footer"></footer>
	</div>
</body>

</html>