<html>

<head th:replace="fragments/base.html :: headerfiles(title='Buffet | Catering')">
	<title>Chef | Catering </title>
</head>

<body>
	<div id="content">
		<header th:replace="fragments/base.html :: navbar"></header>
		<!--- MAIN -->
		<div
			th:replace="fragments/base.html :: page-title-section(image='/images/chefs.webp',type='has-text-white',title='I buffet dello Chef '+ ${loggedChef.nome.toUpperCase()}+'🍽',subtitle='Gestisci subito i suoi buffet')">
		</div>
		<!--- MAIN -->
		<div class="ct-flex-container">
			<div class="ct-flex-item">
				<div class="section p-5">
					<h2 class="title is-5"><span class="mr-1">🍴 </span>Buffet disponibili</h2>
					<p class="subtitle is-6">Qui puoi vedere tutti i buffet proposti dallo Chef</p>
				</div>

				<div class="section pt-0 pb-5 pl-5 pr-5">
					<a class="media media-chef" th:if="${!buffetList.empty}" th:each="buffet : ${buffetList}"
						th:href="@{'/admin/allBuffet/'+${buffet.id}+'/profile'}"  >
						<div class="media-left">
							<div class="media-left-badge">
								<p th:text=" '#' + ${buffet.id}">#ID</p>
							</div>
						</div>
						<div class="media-content">
							<p class="title is-6" th:text="${buffet.nome}">Nome Cognome</p>
							<p class="subtitle is-6" th:text="${buffet.descrizione}">Descrizione
								buffet</p>
						</div>
						<div class="media-right">
							<form style="display: inline;" method="post"
								th:action="@{'/admin/'+${loggedChef.id}+'/allBuffet/'+${buffet.id}+'/delete'}">
								<button class="button is-danger is-rounded " type="submit">Elimina </button>
							</form>
						</div>
						<div class="media-right"><i class="fa-solid fa-chevron-right"></i></div>
					</a>
					<div th:unless="${!buffetList.empty}">
						<div th:replace="fragments/base.html :: alert(text='Non ci sono buffet registrati')" />
					</div>
				</div>
			</div>
		</div>
			<div class="ct-flex-item">
				<a th:href="@{'/admin/'+${loggedChef.id}+'/registerBuffet'}" class="media p-5">
					<div class="media-left">
						<p class="title is-3">🍽 </p>
					</div>
					<div class="media-content">
						<p class="title is-5">Aggiungi Buffet</p>
					</div>
					<div class="media-left">
						<i class="fa-solid fa-chevron-right"></i>
					</div>
				</a>
			</div>
		<footer th:replace="fragments/base.html :: footer"></footer>
	</div>
</body>

</html>


            


<!--    <a th:href="@{'/admin/'+${loggedChef.id}+'/chefUpdate'}"><button class="button2">MODIFICA PROFILO</button></a>
-->	
