<html>


<head th:replace="fragments/base.html :: headerfiles(title='Home | Catering')">
	<title>Home | Catering </title>
</head>


<body>
	<div id="content">
		<header th:replace="fragments/base.html :: navbar"></header>
		<!--- MAIN -->
		<div
			th:replace="fragments/base.html :: page-title-section(image='images/catering.webp',type='has-text-white',title='Benvenuto in Catering 👋 ',subtitle='Scopri le nostre offerte')">
		</div>

	<footer th:replace="fragments/base.html :: footer"></footer>
	</div>
</body>

</html>